.contenido {
    display: inline-flex;
    flex-wrap: wrap;
    background-color: darkslateblue;
    margin: 15px;
    width: 280px;
    border-radius: 50px;
    padding: 50px;
    color: white;
    text-align: center;
    font-family: monospace;
    border: solid;
}

.titulo {
    color: floralwhite;
    padding-top: 30px;
    text-align: center;
    font-family: monospace;
}

.body {
    background-color: black;
}